/* modal config */

.modal {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.4);
	z-index: 1000;
	margin: 0;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-in-out;
	-moz-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

.modal.show {
	pointer-events: all;
	opacity: 1;
}

.modal .window {
	display: block;
	width: 80vw;
	margin: 100px auto 0 auto;
}

.modal .window .modal-header {
	padding: 10px 12px;
	width: 100%;
	display: block;
	border-radius: 3px;
	background-color: var(--red);
	color: var(--light-font);
	font-size: 20px;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,.15);
}

.modal .window .modal-header [data-close] {
	margin: -5px;
}

.modal .window .modal-header *{
	display: inline-block;
}

.modal .window .modal-inner {
	margin: 0 10px;
	width: calc(100% - 20px);
	background-color: white;
	border-radius: 0 0 3px 3px;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,.15);
	font-size: 16px;
}

.modal .window .modal-inner .modal-body {
	padding: 10px;
	width: 100%;
	display: block;
}

.modal .window .modal-inner .modal-footer {
	padding: 10px;
	width: 100%;
	display: block;
	border-top: 1px solid #cccccc;
}